
# https://pyyaml.org/wiki/PyYAMLDocumentation
pyaml==23.9.7
types-PyYAML

# https://pypi.org/project/openpyxl/
openpyxl==3.1.2
openpyxl-stubs
# For getxmp
defusedxml==0.7.1

# https://pillow.readthedocs.io/en/stable/
pillow==10.0.1
types-Pillow

# https://pypi.org/project/PyExifTool/
PyExifTool==0.5.5

# https://pypi.org/project/termcolor/
termcolor==2.3.0

# https://textual.textualize.io/
textual==0.31.0

# https://jira.readthedocs.io/examples.html
jira==3.5.2
